requests~=2.31.0
python-dotenv~=1.0.0
flask~=2.3.3
cachetools~=5.3.1
wheel~=0.41.2
setuptools~=68.2.2
unstructured
python-liquid
numpy~=1.23.5
tiktoken~=0.5.1
chromadb==0.4.15
python-dateutil~=2.8.2
flask-cors
gunicorn~=21.2.0
rank_bm25
pymongo
cohere
boto3
langchain_core
langchain==0.1.6
langchain-openai
google-generativeai
langchain-google-genai
pypdf
IPython
pillow
Flask-Uploads
google-generativeai
langchain-google-genai
pillow
redis
langchain-mongodb
pymongo
Flask-Session
